/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

.DS_Store
node_modules
.github
public
src
.git
.editorconfig
.env
.gitignore
.prettierignore
.prettierrc
.umirc.ts
README.md
tsconfig.json
typings.d.ts
